*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Short CSS class */

.text_center{
    text-align: center;
}

.h-1{
    text-transform: uppercase;
    color: darkblue;
    font-size: 50px;
}
.m-t{
    margin-top: 20px;
}

nav{
    background-color: gray;
    /* margin-top: 0px; */
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
ul li{
    list-style: none;
    display: inline;
    /* gap: 20px; */
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px double white;
   
}
ul li a:hover{
    color: white;
    background-color: darkblue;
    padding: 10px 20px;
    margin: 0;
}

.article-1{
    margin: 30px;
}

.copyright{
    margin: 0px 0px 20px 0px;
}
.img{
    height: 600px;
    object-fit: cover;
}



/* Contact Page */

.main_sec{
    margin: 30px;
}

.prsn_data{
    padding: 0px 0px 20px 20px;
}

.prsn_data label{
    display: block;
    margin-top: 20px;
}
.selector_field{
    margin-top: 20px;
    padding: 10px 0px;
}
.selector_field label{
    margin-top: 20px;
}
.selector_field input{
    margin-left: 20px;
}

.msg_field{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    padding: 10px 32px;
}